@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #f48738;
  --secondary-color: #6cb354;

  --text-color: #5f6062;
  --primary-light: #fdbd8f;
  --light-primary: #b4dba5;
  --light-text: #e8eae1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--light-primary);

  color: var(--text-color);
}

main {
  margin: 15rem 30rem 15rem 30rem;
  background-color: white;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0.5rem;
  position: relative;
  gap: 50%;  
}

.header__logo {
  max-width: 6rem;
  border: 1.8px solid var(--secondary-color);
  border-radius: 50%;

  margin: .1rem 2rem;
}

.header a {
  position: absolute;
  right: 0;
  bottom: 50%;
  background-color: #f48738;

  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transform: translateY(50%);

  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  padding: 1rem .8rem 1rem 3rem;
  letter-spacing: .3rem;
}

.header a:hover {
    opacity: 0.8;
    transition: .2s opacity;
}

.header__search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateX(-70%);
    gap: 1rem;
}

.header__search input[type="search"] {
  color: var(--text-color);
  letter-spacing: .1rem;
  font-weight: 100;
  font-size: 1.8rem;
  background-color: #e9fbe13e;
  padding: 1rem;
  border-radius: 2rem;

  width: 35rem;

  outline: none;
  border: 1.8px solid var(--secondary-color);
} 

.header__search input[type="search"]::placeholder {
  font-style: italic;
  font-size: 1.4rem;
  opacity: 0.5;
}

.header__search img {
    max-width: 3.8rem;
}
